<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{{ '/phantom-favicon.png' | relative_url }}" type="image/x-icon">
</head>

<body>
  <nav class="menu-bar">
    <!--
    <div class="menu-logo">
      <a href="/">
        <img src="/assets/images/logo-white.png" alt="Site Logo">
      </a>
    </div>
    --!>
    <ul class="menu-items">
      <li><a href="/" class="menu-link">Home</a></li>
      <li><a href="/games/" class="menu-link">Scenarios</a></li>
      <li><a href="/games/commercial-use" class="menu-link">商用利用</a></li>
      <li><a href="/games/about" class="menu-link">About me</a></li>
    </ul>
  </nav>
  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <article class="post">

      <header class="post-header">
      </header>

      <div class="post-content">
        {{ content }}
      </div>

    </article>
  </main>
</body>
