<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{{ '/phantom-favicon.png' | relative_url }}" type="image/x-icon">
  {% if page.css %}
    <link rel="stylesheet" href="{{ page.css | relative_url }}">
  {% endif %}
</head>

<body>
  <nav class="menu-bar">
    <!--
    <div class="menu-logo">
      <a href="/">
        <img src="/assets/images/logo-white.png" alt="Site Logo">
      </a>
    </div>
    --!>
    <ul class="menu-items">
      <li><a href="/games/" class="menu-link">Home</a></li>
      <li><a href="/games/scenarios" class="menu-link">Scenarios</a></li>
      <li><a href="/games/commercial-use" class="menu-link">商用利用</a></li>
      <li><a href="/games/about" class="menu-link">About me</a></li>
    </ul>
  </nav>
  <main class="page-content" aria-label="Content">

    <div class="post-content">
      {{ content }}
    </div>

  </main>
</body>
