<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="{{ '/phantom-favicon.png' | relative_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
  <nav class="menu-bar">
    <!--
    <div class="menu-logo">
      <a href="/">
        <img src="/assets/images/logo-white.png" alt="Site Logo">
      </a>
    </div>
    --!>
    <ul class="menu-items">
      <li><a href="/games/" class="menu-link">Home</a></li>
      <li><a href="/games/scenarios" class="menu-link">Scenarios</a></li>
      <li><a href="/games/commercial-use" class="menu-link">商用利用</a></li>
      <li><a href="/games/about" class="menu-link">About me</a></li>
    </ul>
  </nav>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>
    <!-- 警告ボタン -->
    <div class="alert-button">
      <a href="/games/errata" class="alert-link">エラッタはここをクリックしてご確認ください</a>
    </div>
    <h1 class="games-title">Scenarios</h1>
    <div class="post-content">
      {{ content }}
    </div>
    <div class="wrapper">
      <div class="scenario-container">
        <a href="/games/mafia" class="animated-button button-mafia"><span>海の上で<br>昼食を</span></a>
        <a href="/games/dragon" class="animated-button button-dragon"><span>ドラゴン<br>リバース</span></a>
      </div>
      <div class="scenario-container">
        <a href="/games/gokon" class="animated-button button-gokon"><span>合コン<br>マダミス</span></a>
        <a href="/games/sonata" class="animated-button button-sonata"><span>最後の<br>ソナタ</span></a>
      </div>
      <div class="scenario-container">
        <a href="/games/airship" class="animated-button button-airship"><span>魂を運ぶ<br>飛行船</span></a>
        <a href="/games/skybound-rebellion" class="animated-button button-skybound-rebellion"><span>Skybound<br>Rebellion</span></a>
      </div>
    </div>
  </main>
  <!--
  <footer class="games-footer">
    <a href="/games/about" class="games-about">About me</a>
  </footer>
  --!>
</body>
</html>
